@use "../../sass/abstracts" as *;

#strategies {
  margin-bottom: 117px;
  .strategies__container {
    @include flexbox(column, start, center);
    gap: 35px;
    .title {
      text-align: center;
      @include flexbox(column, center, center);
      gap: 10px;
      h1 {
        @include heading(m);
        color: $content;
      }
      p {
        @include text(s);
        color: $content;
        font-weight: 500;
      }
    }
    .cards {
      @include flexbox(row, space-between, center);
      gap: 32px;
      .card {
        width: 33%;
        height: 359px;
        border-radius: 8px;
        border: 1px solid #dedede;
        .top {
          @include flexbox(row, center, center);
          img {
            width: 100%;
            height: 100%;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
          }
        }
        .bottom {
          padding: 24px;
          p {
            @include text(s);
            color: $content;
            span {
              font-weight: 700;
            }
            margin-bottom: 12px;
          }
          h4 {
            @include heading(xs);
            color: $content;
            font-weight: 700;
            transition: 0.3s;
          }
        }
        &:hover {
          cursor: pointer;
          .bottom {
            h4 {
              color: $mainColor;
            }
          }
        }
      }
    }
  }
  @include media(1024px) {
    .strategies__container {
      .cards {
        .card {
          .bottom {
            h4 {
              font-size: 20px;
              line-height: 28px;
            }
          }
        }
      }
    }
  }
  @include media(768px) {
    margin-bottom: 100px;
    .strategies__container {
      .title {
        h1 {
          font-size: 30px;
          line-height: 40px;
        }
      }
      .cards {
        .card {
          height: 320px;
          .bottom {
            padding: 18px;
            p {
              font-size: 14px;
              line-height: 23px;
            }
            h4 {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
  @include media(680px) {
    .strategies__container {
      .cards {
        width: 100%;
        flex-direction: column;
        .card {
          height: auto;
          width: 70%;
        }
      }
    }
  }
  @include media(480px) {
    .strategies__container {
      .title {
        h1 {
          font-size: 25px;
          line-height: 35px;
        }
      }
      .cards {
        .card {
          width: 100%;
        }
      }
    }
  }
  @include media(420px) {
    .strategies__container {
      .title {
        p {
          font-size: 14px;
          line-height: 22px;
        }
      }
    }
  }
}
